body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f3f3f3;
    margin: 0;
}

#drawingPad {
    border: 1px solid #000;
    cursor: crosshair;
}

#colorPicker {
    position: fixed;
    top: 10px;
}
